@import "resources/assets/sass/customVariables";
@import "vendor/thomaspark/bootswatch/flatly/variables";
@import "vendor/thomaspark/bootswatch/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "vendor/thomaspark/bootswatch/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "vendor/thomaspark/bootswatch/flatly/bootswatch";

.flash {
    background: #f66422;
}

.checkbox label {
    display: flex;
}

nav {
    margin: 0.6em;
}

$margins: (xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 2.5rem);

@each $name, $value in $margins {
  .margin-top-#{$name} {
    margin-top: $value;
  }

  .margin-bottom-#{$name} {
    margin-bottom: $value;
  }
}
