// Overwriting Bootstrap's default font size
@font-size-base: 16px;

// Overwriting 1pxdeep's scheme.less
@seed-color: #29a29c;
@wheel_pos1: 30; @wheel_pos2: 180; @wheel_pos3: 210; // Tetrad Color Wheel

@1pxdeep-default-button-color: @color1c;
@1pxdeep-bg: #f9f9f9;
